<header>
  <% logo = image_tag("logo.png", :alt => "Application exemple") %>
  <%= link_to logo, root_path %>
  <nav>
    <ul>
      <li><%= link_to "Accueil", root_path %></li>
      <li><%= link_to "Aide", help_path %></li>
      <li><%= link_to "S'identifier", '#' %></li>
    </ul>
  </nav>
</header>